<ServerConfig>
<HostedWebSites>
  <WebSite>
    <LocalMappedPath>"C:\D_Drive\Coding\BasicHttpServerClient\BasicHttpServer\Webpages"</LocalMappedPath>
    <WebSiteName>www.justfun.com</WebSiteName>
    <AliasWebSiteName></AliasWebSiteName>
    <IPAddress>10.8.20.9</IPAddress>
  </WebSite>
</HostedWebSites>
<ServerConfiguration>
  <ThreadPoolSize>512</ThreadPoolSize>
  <MaximumSizeOfRequest>8192</MaximumSizeOfRequest>
  <LocalMappedPath>"C:\D_Drive\Coding\BasicHttpServerClient\BasicHttpServer\Webpages"</LocalMappedPath>
  <LogLevel>DEBUG</LogLevel>
</ServerConfiguration>
</ServerConfig>
